
html, body {border: 0; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6,p,a{
text-shadow: none; }
body {
	font-family: Arial;
	font-size: 14px;
	margin-left:0;
	margin-right:0;
	background-position:top;
	background:#555;
	position:center;
	display:scroll;
	

}
.garis-bawah{
border-bottom:1px solid #eee;
padding-top:5px;
margin-bottom:5px;
}
table{
   border-collapse : collapse;
   border           : 0px solid #eee;
	
}

th{
background:white;
-moz-border-radius-bottomright:2px;
-moz-border-radius-bottomleft:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
border: 1px solid #333;
}
th {
  padding-left     : 10px;
  padding-right    : 8px;
  padding-top      : 5px;
  padding-bottom   : 5px;
  border           : 1px solid #333;  
  color            : black;
  font-size        : 12;
}
#content-detail-print{
	margin-left:0;
	margin-right:0;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
	width:80%;
	padding:20px;
	min-height:520px;
	background:white;
	
}
.tebal  td{font-weight:bold;}
td{
 padding-left     : 10px;
  padding-right    : 8px;
  padding-top      : 5px;
  padding-bottom   : 5px;
  border           : 0px solid #ccc;
  color            : #333;
  font-size        : 13;
}
.td{
 padding-left     : 10px;
  padding-right    : 8px;
  padding-top      : 5px;
  padding-bottom   : 5px;
  border           : 1px solid #333;
  color            : #333;
  font-size        : 13;
}
.text{
padding-left     : 10px;
  padding-right    : 8px;
  padding-top      : 5px;
  padding-bottom   : 5px;
  border           : 1px solid #ccc;
  color            : #333;
  font-size        : 12;
font-size:12px;
font-weight:bold;
}
.textr{
border:1px solid #ccc;
font-size:13px;
font-weight:bold;
color:#444;
}
.text-bg{

border:1px solid #cc;
font-size:13px;
font-weight:bold;
}
.text-bg-notfound{
border:1px solid #cc;
font-size:20px;
padding:10px;
color:grey;
font-weight:bold;
}

a:hover{
background:  url(../images/konten-atas.png) repeat 0 0;
color:grey;
}
a{
	cursor:pointer;
-moz-border-radius-bottomleft:18px;
-moz-border-radius-bottomright:18px;
-moz-border-radius-topleft:18px;
-moz-border-radius-topright:18px;
border:1px solid white;
font:bold 12pt Georgia,serif;
color:grey;
height:20px;
padding-top:10px;
background:white;
}
